In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_colum', 500)

In [3]:
df = pd.read_csv('Data/combined_tmdb_data.csv',lineterminator='\n', low_memory = False)
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,"When a beautiful photo model disappears, polic...",1.176,/cjRqAh3u2Z0MBx9GtT1k7Z9732w.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.0,2.0,NaN
1,tt0197633,0.0,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520.0,en,Live Freaky Die Freaky,It is the year 3069 and the Earth has been rob...,3.131,/3QKPZ9SzMcBdqkKdSitQbmRqB2l.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-01-31,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky Die Freaky,0.0,3.8,8.0,NR
2,tt0204250,0.0,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563.0,en,Death of a Saleswoman,Top-ranking RubberTubber saleswoman Agatha J. ...,0.600,/tIfllOpkhZl5sbqZd1X77iiaJDj.jpg,"[{'id': 90905, 'logo_path': None, 'name': 'Gir...","[{'iso_3166_1': 'US', 'name': 'United States o...",2006-09-18,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,0.0,3.0,1.0,NaN
3,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,"In 2027, in a chaotic world in which humans ca...",19.318,/k9IAS4TehZFcKi4HVByxZNPfqex.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-09-22,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,0.0,7.6,5779.0,R
4,tt0244521,0.0,/4W53mm2nvOtiOuPNW2oiBm9pmUZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,9925.0,en,Funny Money,"Henry Perkins, a mild-mannered accountant, acc...",5.591,/oG3jWUZiDqqrdk3oKwPEkuwoN89.jpg,"[{'id': 110622, 'logo_path': None, 'name': 'FW...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2006-01-01,0.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Henry Perkins accidentally trades briefcases w...,Funny Money,0.0,5.4,39.0,R

In [4]:
# convert release_date column to timedata type
df['release_date'] =  pd.to_datetime(df['release_date'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')

In [5]:
df['release_date'].dt.strftime('%Y').value_counts()

2019    4593
2018    4392
2017    4181
2016    3722
2021    3656
2020    3655
2015    3625
2014    3588
2013    3432
2012    3125
2011    2834
2010    2418
2009    2262
2008    2025
2007    1823
2006    1725
2005    1538
2004    1391
2001    1239
2003    1238
2002    1214
2000    1109
2022     247
1999      23
1995       5
1997       4
1998       4
1990       2
1996       2
1988       1
1994       1
1987       1
1977       1
1984       1
1973       1
Name: release_date, dtype: int64

In [6]:
#only keep movies between 2000-2019
years_filter = (df['release_date'].dt.strftime('%Y').astype('float64') >= 2000) &  (df['release_date'].dt.strftime('%Y').astype('float64') <= 2020)
df = df.loc[years_filter,:].copy()

In [7]:
# checking nan values
df.isna().any().sum()

8

In [8]:
#drop na value
df = df.dropna()

In [9]:
#check for double
df.duplicated().sum()

0

In [10]:
df['certification'].value_counts()

PG-13    236
R        223
PG       135
G         35
NR        31
NC-17      3
Name: certification, dtype: int64

In [11]:
#drop 'NR' and 'NC-17' values from certification column
df = df.loc[(df['certification']!='NR') & (df['certification']!='NC-17'),:]
df['certification'].value_counts()

PG-13    236
R        223
PG       135
G         35
Name: certification, dtype: int64

In [12]:
#export dataframe
df.to_csv('Data/clean_combined_tmdb_data.csv',compression="gzip", index=False)