# Importing Packages And Dataset

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook
import tmdbsimple as tmdb

In [2]:
# downloading dataframe
basics_df = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
aka_df = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
rate_df = pd.read_csv("Data/title_rate.csv.gz", low_memory = False)

In [3]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Cleaning Data

In [4]:
# Replacing '/N' with np.nan
basics_df.replace({'\\N':np.nan}, inplace = True)
aka_df.replace({'\\N':np.nan}, inplace = True)
rate_df.replace({'\\N':np.nan}, inplace = True)

## AKAs

In [5]:
aka_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [6]:
#Filter that keep only US
aka_df = aka_df[aka_df['region'] == 'US']
#Chicking
aka_df['region'].value_counts()

US    1365697
Name: region, dtype: int64

## Title Basics

In [7]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [8]:
# Dropping nan in runtime and genres col
basics_df = basics_df[basics_df['runtimeMinutes'].notna()]
basics_df = basics_df[basics_df['genres'].notna()]

In [9]:
# checking na in coluns
basics_df['genres'].isna().sum()

0

In [10]:
# checking na in coluns
basics_df['runtimeMinutes'].isna().sum()

0

In [11]:
# Keeping only title type = "Movie"
basics_df = basics_df[basics_df['titleType']=='movie']

In [12]:
basics_df['titleType'].value_counts()

movie    371463
Name: titleType, dtype: int64

In [13]:
# convert column StartYear's Dtype to float
basics_df["startYear"] = basics_df["startYear"].astype(float)

In [14]:
#Make a filter for 2000 - 2022
filter_00_22 = (basics_df["startYear"] >= 2000) & (basics_df["startYear"] <= 2022)
#Making data with only movies that start between  2000 - 2022
basics_df = basics_df.loc[filter_00_22, :]
#convert column StartYear's Dtype to int
basics_df["startYear"] = basics_df["startYear"].astype(int)

In [22]:
# Exclude movies that are included in the documentary category.
is_documentary = basics_df['genres'].str.contains('documentary',case=False)
basics_df = basics_df[~is_documentary]
#checking if there any documentary category.
len(basics_df[is_documentary])

0

In [16]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics_df['tconst'].isin(aka_df['titleId'])
keepers

34793       True
61096       True
67642       True
77936      False
86772       True
           ...
9359780     True
9359789     True
9359828    False
9359873     True
9359957    False
Name: tconst, Length: 144665, dtype: bool

In [17]:
# Keep only US movies
basics_df = basics_df[keepers]

In [18]:
#checking
print(len(basics_df), keepers.sum())

83398 83398

# New Info

In [19]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83398 entries, 34793 to 9359873
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          83398 non-null  object
 1   titleType       83398 non-null  object
 2   primaryTitle    83398 non-null  object
 3   originalTitle   83398 non-null  object
 4   isAdult         83398 non-null  object
 5   startYear       83398 non-null  int32
 6   endYear         0 non-null      object
 7   runtimeMinutes  83398 non-null  object
 8   genres          83398 non-null  object
dtypes: int32(1), object(8)
memory usage: 6.0+ MB

In [20]:
aka_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365697 entries, 5 to 33762545
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1365697 non-null  object
 1   ordering         1365697 non-null  int64
 2   title            1365697 non-null  object
 3   region           1365697 non-null  object
 4   language         3716 non-null     object
 5   types            965971 non-null   object
 6   attributes       45278 non-null    object
 7   isOriginalTitle  1364322 non-null  object
dtypes: int64(1), object(7)
memory usage: 93.8+ MB

In [24]:
rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245557 entries, 0 to 1245556
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1245557 non-null  object
 1   averageRating  1245557 non-null  float64
 2   numVotes       1245557 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB

# Export Clean Dataframe

In [159]:
basics_df.to_csv(f"Data/clean_basics_df.csv.gz", compression="gzip", index=False)
aka_df.to_csv(f"Data/clean_aka_df.csv.gz", compression="gzip", index=False)
rate_df.to_csv(f"Data/clean_rate_df.csv.gz", compression="gzip", index=False)